*.dat
poi/
region/
playerdata/
stats/
DIM1/
DIM-1/
entities/
level.dat
level.dat_old
data/
advancements/
!datapacks/LTW3/data/item/advancements/
!datapacks/LTW3/data/lib/advancements/
!datapacks/LTW3/data/ltw/advancements/
sessions.lock